<!doctype <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Homepage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- <link rel="stylesheet" type="text/css" href="/css/index.css"> --}}
    <link rel="stylesheet" type="text/css" href="/css/specials.css">
    </nav>
</head>
<body>
  <div class="container">
    <h1 class="line">Meet our Team Staff</h1>
    <h3>Student Directors</h3>
  </div>
  <div class="container">
    {{!-- Run a For-Loop that checks for the latest Student Director --}}
    <div class="row">
      <div>
        <img src="/img/Headshots/Sam_Headshot.png" class="img-fluid col-md-3" alt="Sam Headshot">
      </div>
      <div>
        <img src="/img/Headshots/Sam_Headshot.png" class="img-fluid col-md-3" alt="Sam Headshot">
      </div>
    </div>
  </div>
</body>
<br><br>

{{!-- </head>
<h1 style="text-align: center; font-size: 40px; padding-top:3em;">Meet the staff</h1>
<h2 style="text-align: center; padding-top:.5em;">Student Directors</h2>
</head> --}}

{{!-- <div class="container-director">
  <div class="image-wrapper">
    <img src="img/Headshots/Sam_Headshot.png" alt="Samuel Bunker" style="display: inline-block;">
  </div>
  <div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="image-wrapper">
    <img src="img/Headshots/Leo_Headshot.png" alt="Leo Preciado-Espinoza" style="display: inline-block;">
  </div>
  <div class="text">
    <p>Nunc ultricies diam quis leo pretium, non aliquet arcu sodales.</p>
  </div>
</div> --}}