{{!-- <div class="mobile">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="p-4">
            <ul class="nav me-auto nav-pills justify-content-center">
                <li class="nav-item"><a href="#" class="nav-link">Teams</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Awards</a></li>
                <li class="nav-item"><a href="#" class="nav-link">History</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
            </ul>
        </div>
    </div>
</div>
<header class="d-flex flex-wrap py-3 mb-4 nav-bg p-3">
    <div class="notMobile">
        <a href="#" class="d-flex mb-3 mb-md-0 text-dark">
        <img src="/img/JC-logo.png" alt="JCE Logo" width="auto" height="40px">
        </a>
    </div>

    <ul class="nav nav-pills justify-content-center me-md-auto">
        <div class="mobile">
            <nav class="nav-bg navbar-light">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
        <li class="nav-item"><a href="#" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        <li class="notMobile nav-item"><a href="#" class="nav-link">Teams</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Schedule</a></li>
        <li class="notMobile nav-item"><a href="#" class="nav-link">Awards</a></li>
        <li class="notMobile nav-item"><a href="#" class="nav-link">History</a></li>
    </ul>
    <ul class="nav nav-pills">
        <li class="notMobile nav-item"><a href="#" class="nav-link">Login</a></li>
    </ul>
</header> --}}
