{{!-- https://dev.to/536uriel/how-to-build-basic-and-dynamic-calendar-with-nodejs-1f8c
 Or other Dynamic Calendar imports for the site. --}}
<!DOCTYPE html>
<html>
  <head>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('calendar')
        const calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            interactive: true,
            events: '/json_calendar',
            eventClick: function(info) {
              alert('Title: ' + info.event.title + '\n' + 'Start: ' + info.event.start + '\n' + 'End: ' + info.event.end);
              //alert('Start Time: ' + info.event.start);
              //$('#modalID').html(info.event.id);
              //$('#modalTitle').html(info.event.title);
              //$('#fullCalModal').show();
              //https:codepen.io/anon/pen/eapjWN?editors=1010
            },
            eventTimeFormat: { // Customize time format
                hour: '2-digit',
                minute: '2-digit',
                meridiem: 'short', // Use 'AM/PM'
            },
        });
        calendar.render()
        });

    </script>
  </head>
  <body>
    <br><br><br>
    {{!-- <div id="fullCalModal" style="display:none;">
      <div>ID: <span id="modalID"></span></div>
      <div>Title: <span id="modalTitle"></span></div>
    </div> --}}
    <div class="container">
      <h1>Schedule</h1>
      <div id='calendar'></div>
      <br>
      {{!-- <p>{{{calendar_events}}}</p> --}}
    </div>
  </body>
</html>