{{!-- https://dev.to/536uriel/how-to-build-basic-and-dynamic-calendar-with-nodejs-1f8c
 Or other Dynamic Calendar imports for the site. --}}
<!DOCTYPE html>
<html>
  <head>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('calendar')
        const calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            interactive: true,
            events: '/api/events', // Use new enhanced API endpoint
            eventClick: function(info) {
              // Enhanced event click with link to event details
              if (info.event.id) {
                window.location.href = '/events/' + info.event.id;
              } else {
                alert('Title: ' + info.event.title + '\n' + 'Start: ' + info.event.start + '\n' + 'End: ' + info.event.end);
              }
            },
            dateClick: function(info) {
              // Allow creating events on date click (if logged in)
              {{#if isLoggedIn}}
                if (confirm('Create a new event for ' + info.dateStr + '?')) {
                  window.location.href = '/create-event?date=' + info.dateStr;
                }
              {{/if}}
            },
            eventTimeFormat: { // Customize time format
                hour: '2-digit',
                minute: '2-digit',
                meridiem: 'short', // Use 'AM/PM'
            },
        });
        calendar.render()
        });

    </script>
  </head>
  <body>
    <br><br><br>
    {{!-- <div id="fullCalModal" style="display:none;">
      <div>ID: <span id="modalID"></span></div>
      <div>Title: <span id="modalTitle"></span></div>
    </div> --}}
    <div class="container">
      <h1>Schedule</h1>
      <div id='calendar'></div>
      <br>
      {{!-- <p>{{{calendar_events}}}</p> --}}
    </div>
  </body>
</html>