html {
height: 100vh;
width: 100vw;
overflow-x: hidden;
}

body {
height: 100%;
width: 100%;
;
}

.container {
padding-top: 1em;
padding-bottom: 1em;
}

.row>* {
padding: 0;
/* height: 300px;
width: auto; */
}

.row>img {
cursor: pointer;
transition: 0.25s ease-in-out;
border: 0px inset white;
}

.row>img:hover {
border: 10px inset white;
}

.float-r {
float: right;
}

.breadcrumbs {
padding-top: 0.5em;
padding-left: 1em;
padding-right: 2em;
padding-bottom: 0.5em;
position: sticky;
top: 0;
}

.breadcrumbs>button {
background-color: #AC9C66;
border-radius: 15px;
padding: 0.25em 1em 0.25em 1em;
border: 0px inset white;
transition: 0.25s ease-in-out;
}

.breadcrumbs>button:hover {
box-shadow: 0px 0px 5px #AC9C66;
}


.breadcrumbs>button>a {
text-decoration: none;
color: black;
}

.container-director {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
}

.image-wrapper {
grid-column: span 2;
display: flex;
justify-content: center;
align-items: center;
display: grid;
flex-wrap:wrap;
}

.image-wrapper img {
width: 30%;
height: auto;
margin:1px;
}


.text {
text-align: center;
margin-top: 10px;
}