<head>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div class="nav-block"></div>
    <div class="container">
        <form action="/admin" method="post">
        <div class="column">
            <label for="playernumber">Jersey Number: </label>
            <input type="number" name="playernumber" id="playernumber" required>
        </div>
        <div class="column">
            <label for="playername">Full Name: </label>
            <input type="text" name="playername" id="playername" required>
        </div>
        <div class="column">
            <label for="playergamertag">Gamer Tag: </label>
            <input type="text" name="playergamertag" id="playergamertag" required>
        </div>
        <div class="column">
            <label for="playerteam">Team: </label>
            <select id="playerteam" name="playerteam">
                <option value="staff">Team Staff</option>
                <option value="leagueoflegends">League of Legends</option>
                <option value="rocketleague">Rocket League</option>
                <option value="smashultimate">Smash Ultimate</option>
                <option value="overwatch">Overwatch</option>
                <option value="valorant">Valorant</option>
                <option value="splatoon">Splatoon</option>
                <option value="apexlegends">Apex Legends</option>
                <option value="rainbowsix">Rainbow Six</option>
            </select>
        </div>
        <div class="column">
            <label for="playerposition">Position: </label>
            <input type="text" name="playerposition" id="playerposition" required>
        </div>
        <div class="column">
            <label for="playergrade">Grade: </label>
            <select id="playergrade" name="playergrade">
                <option value="freshman">Freshman</option>
                <option value="sophomore">Sophomore</option>
                <option value="junior">Junior</option>
                <option value="senior">Senior</option>
                <option value="postgrad">Post-Graduate</option>
            </select>
        </div>
        <div class="column">
            <label for="playerhometown">Hometown/High School: </label>
            <input type="text" name="playerhometown" id="playerhometown" required>
        </div>
        <div class="column">
            <label for="country">Country: </label>
            <input type="text" name="country" id="country" required>
        </div>
        <button type="submit">Submit</button>
        </form>
    </div>
</body>