<head>
  <link rel="stylesheet" href="/css/index.css">
</head>
<br><br>
<img src="/img/header.png" class="img-fluid" alt="Juniata College Esports Logo Banner" />
    <div class="breadcrumbs" style="background-color: #031642;">
        <button><a href="https://discord.gg/k5NEqzSh9J" style="text-align:left;">Join our Discord!</a></button>
        <!--<button><a href="https://discord.gg/k5NEqzSh9J" style="text-align:left;">Button</a></button>-->
        <button><a class="pp-breadcrumbs-button-right pp-callout-action-button button" href="https://www.juniata.edu/admission/apply/index.php">Apply</a></button>
        <button class="float-r"><a href="https://apply.juniata.edu/portal/visit?utm_source=website&utm_medium=redirect&utm_campaign=campus-visit-portal">Visit Campus</a></span></button>
    </div>

    <div class="container">
        <div class="row">
                <img src="/img/onyxeye_gaming.png" class="img-fluid col-md-3" alt="Dylan Gaming in Esports">
                <img src="/img/jonah_gaming.png" class="img-fluid col-md-3" alt="Jonah Gaming in Esports">
                <img src="/img/jess_viewing.png" class="img-fluid col-md-3" alt="Jess watching a live game of Luis">
                <img src="/img/jehan_stage.png" class="img-fluid col-md-3" alt="Jess watching a live game of Luis">
                <img src="/img/staff_lobsterfest.png" class="img-fluid col-md-6" alt="Connor Gaming in Esports">
                <img src="/img/connor_gaming.png" class="img-fluid col-md-6" alt="Connor Gaming in Esports">
        </div>
    </div>