<br><br><br><br>
<img src="/img/header.png" class="img-fluid" alt="Juniata College Esports Logo Banner" />
    <div class="sticky">
        <div class="breadcrumbs">
            <a href="https://discord.gg/k5NEqzSh9J" style="text-align:left;">Join our Discord!</a>
            <a href="https://discord.gg/k5NEqzSh9J" style="text-align:left;">Join our Discord!</a>
            <a class="pp-breadcrumbs-button-right pp-callout-action-button button" href="/admissions/apply/">APPLY
                NOW</a>
            <a class="pp-breadcrumbs-button-left pp-callout-action-button pp-schedule-visit-top-button button"
                href="/about/engage/" style="text-align:right;">VISIT CAMPUS</a></span>
        </div>
    </div>
    <br><br><br><br>
    <br><br><br><br>