<header>
    <h1>Login</h1>
</header>
<br><br><br>
<div class="container">
    <form action="/login" method="POST">
        <fieldset>
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" required>

            <label for="password">Password: </label>
            <input type="text" name="password" id="password" required>

            <button type="reset">Reset</button>
            <button type="submit">Submit</button>
        </fieldset>
    </form>
</div>
<br><br>
<a href="/register">Don't have an account? Create one!</a>